---
import PostPreview from "../components/PostPreview.astro";
import Title from "../components/Title.astro";
import LayoutPost from "../layouts/LayoutPost.astro";

const posts = await Astro.glob("./posts/*.md");
---

<LayoutPost title="Blog" favicon="./assets/logo-hp.png">
  <section>
    <Title title="Ultimas noticas" />
    {posts.map((post) => <PostPreview post={post} />)}
  </section>
</LayoutPost>
